{% extends "base.html" %}
{% block title %}Login - InternConnect{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="form-card mx-auto">
        <h2 class="text-center mb-4">Login</h2>

        <form method="post">
            <label class="form-label">Email</label>
            <input type="email" name="email" class="form-control mb-3" required>

            <label class="form-label">Password</label>
            <input type="password" name="password" class="form-control mb-4" required>

            <button class="btn btn-primary w-100">Login</button>
        </form>

        <p class="text-center mt-3">
            Don't have an account?
            <a href="{{ url_for('register') }}">Register</a>
        </p>
    </div>
</div>
{% endblock %}
